@charset "utf-8";

/* 
common
*/
.about__header {
}
.about__title {
  margin: 0 0 0 var(--width-section-large-pc);
  font-size: 3.2rem;
  font-weight: 600;
}
.about__item-no {
  color: var(--color-accent);
  font-family: var(--font-family-en);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.section__description-list.about__description-list {
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .about__title {
    margin: 0 var(--width-section-sp) 0;
    font-size: 2rem;
  }
  .about__item-no {
    font-size: 3rem;
  }
}

/* 
profile
*/
.profile {
  padding-top: 185px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/sand-pattern-mountain.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  opacity: 0;
}
.footprint {
  width: 200px;
  height: 31px;
  position: absolute;
  top: 627px;
  right: var(--width-section-small-pc);
  background-image: url(../images/footprint.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(20px) rotate(-60deg);
  clip-path: inset(0 100% 0 0);
  transition:
    opacity 2s,
    transform 2s,
    clip-path 2s;
}
.profile__upper {
  margin: 100px var(--width-section-large-pc) 0;
  display: flex;
  justify-content: space-between;
  gap: 7.062%;
}
.profile__img {
  width: 48.87%;
  max-width: 542px;
  min-width: 519px;
  position: relative;
}
.profile__img .about__profile-img--bg {
  display: block;
  width: 491px;
  position: absolute;
  top: 29px;
  left: 27px;
}
.profile__img .about__profile-img--main {
  display: block;
  width: 491px;
  position: absolute;
  top: 0;
  left: 0;
}
.profile__feature {
  width: 44.067%;
  max-width: 468px;
  margin-top: 246px;
}
.profile__lower {
  display: flex;
  align-items: flex-start;
  gap: 3.853%;
  width: 519px;
  margin-left: var(--width-section-large-pc);

  position: absolute;
  top: 1028px;
  left: 0;
}
.profile__camel {
  width: 35.26%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
}
.profile__bridge {
  width: 60.886%;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  opacity: 0;
}
.profile__camel > img,
.profile__bridge > img {
  width: 100%;
}
.profile__bridge > img {
  margin-top: 0;
}

.profile__caption {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-accent);
  margin: 0;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .profile {
    padding-bottom: 200px;
    background-size: 100% auto;
  }
  .footprint {
    width: 200px;
    height: 31px;
    top: auto;
    right: var(--width-section-small-pc);
    bottom: 350px;
  }
  .profile__upper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .profile__img {
    width: 100%;
    max-width: none;
    height: auto;
    aspect-ratio: 350 / 304;
  }
  .profile__img .about__profile-img--bg {
    width: 94.285%;
    max-width: none;
    top: 33px;
    right: 0;
  }
  .profile__img .about__profile-img--main {
    width: 94.285%;
    max-width: none;
  }
  .profile__feature {
    width: 100%;
    max-width: none;
    margin-top: 60px;
  }
  .profile__lower {
    flex-direction: column;
    gap: 40px;
    width: auto;
    margin: 60px var(--width-section-large-pc) 0;
    position: static;
  }
  .profile__camel {
    width: 58.857%;
  }
  .profile__bridge {
    width: 79.428%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .profile {
    padding-top: 97px;
    padding-bottom: 200px;
    background-size: 100% auto;
  }
  .footprint {
    width: 80px;
    height: 12px;
    top: auto;
    right: var(--width-section-sp);
    bottom: 194px;
  }
  .profile__upper {
    margin: var(--height-section-small-sp) var(--width-section-sp) 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .profile__img {
    width: 100%;
    max-width: none;
    min-width: 0;
    height: auto;
    aspect-ratio: 350 / 304;
  }
  .profile__img .about__profile-img--bg {
    width: 90.285%;
    top: 33px;
    left: auto;
    right: 0;
  }
  .profile__img .about__profile-img--main {
    width: 90.285%;
  }
  .profile__feature {
    width: 100%;
    max-width: none;
    margin-top: 50px;
  }
  .profile__lower {
    flex-direction: column;
    gap: 30px;
    width: auto;
    margin: 50px var(--width-section-sp) 0;
    position: static;
  }
  .profile__camel {
    width: 58.857%;
    gap: 5px;
  }
  .profile__bridge {
    width: 79.428%;
    flex-direction: column;
    gap: 5px;
  }
  .profile__caption {
    font-size: 1.3rem;
  }
}

/* 
thought
*/
.thought {
  background-color: var(--background-secondary);
  padding: 0 var(--width-section-small-pc);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2222%;

  position: relative;
}
.thought__countries--upper {
  width: 11.029%;
  height: 730px;
  background-image: url(../images/countries-left.png);
  background-position: center 0;
  background-repeat: repeat-y;
  background-size: contain;
  overflow: hidden;
}
.thought__feature {
  padding: var(--height-section-small-pc) 0;
  width: 73.469%;
  margin: 0 auto;
}
.thought__title {
  margin: 0;
  color: var(--color-accent);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.16em;

  text-align: center;
}
.section__description-list--white {
  color: var(--color-secondary);
}
.thought__section__description-list .section__description {
  font-weight: 400;
}
.thought__countries--lower {
  width: 11.029%;
  height: 700px;
  background-image: url(../images/countries-right.png);
  background-position: center 0;
  background-repeat: repeat-y;
  background-size: contain;
  overflow: hidden;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .thought__feature {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .thought {
    padding: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .thought__countries--upper {
    width: 100%;
    height: 80px;
    background-image: url(../images/countries-up.png);
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
  }
  .thought__feature {
    padding: 0 var(--width-section-sp);
    width: 100%;
  }
  .thought__title {
    font-size: 2rem;
  }
  .thought__countries--lower {
    width: 100%;
    height: 80px;
    background-image: url(../images/countries-down.png);
    background-position: center 0;
    background-repeat: repeat-x;
    background-size: contain;
  }
}

/* 
strength
*/
.strength {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.strength__feature {
  width: 69.117%;
  padding-top: var(--height-section-small-pc);
}
.strength__feature > .about__title {
  margin-left: 15.851%;
}
.strength__list {
  padding: 30px 0 0 0;
  margin: 0 0 0 15.851%;

  position: relative;
  z-index: 100;
}
.strength__item {
  display: flex;
  align-items: flex-start;
  min-height: 524px;
  gap: 12.642%;
  padding: 40px 0;
  border-bottom: 1px solid var(--border-primary);
}
.strength__item-feature {
  width: 91.461%;
}
.strength__item-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;

  margin: 0;
}
.strength__item-title > .about__item-no {
  margin-right: 20px;
}
.strength__item-imgs {
  width: 8.538%;
  position: relative;
}
.strength__item-img01,
.strength__item-img02,
.strength__item-img03 {
  display: inline-block;
  width: 150px;
  opacity: 0;
  position: absolute;
}
.strength__item-img01 {
  top: 96px;
  left: 0;
}
.strength__item-img02 {
  top: 96px;
  left: 180px;
}
.strength__item-img03 {
  top: 276px;
  left: 0;
}
.strength__item-img05 {
  display: inline-block;
  width: 172px;
  opacity: 0;
  position: absolute;
  top: 254px;
  left: 0;
}
.strength__item-img06 {
  display: inline-block;
  width: 260px;
  opacity: 0;
  position: absolute;
  top: 96px;
  left: 70px;
}
.strength__item-img07 {
  display: inline-block;
  width: 130px;
  opacity: 0;
  position: absolute;
  top: 246px;
  left: 172px;
}
.strength__item-img08 {
  display: inline-block;
  width: 59px;
  opacity: 0;
  position: absolute;
  top: 185px;
  left: 271px;
}
.strength__item-img09 {
  display: inline-block;
  width: 80px;
  opacity: 0;
  position: absolute;
  top: 245px;
  left: 0;
}
.strength__item-img10 {
  display: inline-block;
  width: 170px;
  opacity: 0;
  position: absolute;
  top: 96px;
  left: 30px;
}
.strength__item-caption {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;

  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  top: 344px;
  left: 180px;
}
.strength__item-caption::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 18px;
  margin-right: 10px;
  background-image: url(../images/double-quotation-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.strength__bg {
  width: 30.882%;
  background-image: url(../images/sand-pattern-s.png);
  background-position: top;
  background-size: contain;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .strength__feature {
    width: 100%;
  }
  .strength__feature > .about__title {
    margin-left: var(--width-section-large-pc);
  }
  .strength__list {
    margin: 0 var(--width-section-large-pc) 0;
  }
  .strength__item {
    min-height: 0;
    flex-direction: column;
    gap: 40px;
  }
  .strength__item-feature {
    width: 100%;
  }
  .strength__item-imgs {
    width: 78.187%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 350 / 350;
  }
  .strength__item-imgs.strength__item-imgs--01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .strength__item-img01,
  .strength__item-img02,
  .strength__item-img03 {
    position: static;
    width: 100%;
  }
  .strength__item-img05 {
    width: 53.428%;
    top: auto;
    left: 0;
    bottom: 0;
  }
  .strength__item-img06 {
    width: 80%;
    top: 0;
    left: auto;
    right: 0;
  }
  .strength__item-img07 {
    width: 40.857%;
    top: auto;
    bottom: 0;
    left: auto;
    right: 11.571%;
  }
  .strength__item-img08 {
    width: 17.428%;
    top: auto;
    bottom: 260px;
    left: auto;
    right: 0;
  }
  .strength__item-img09 {
    width: 24.857%;
    top: 250px;
  }
  .strength__item-img10 {
    width: 52%;
    top: 0;
    left: 8%;
  }
  .strength__item-caption {
    position: static;
    font-size: 1.6rem;
  }
  .strength__item-caption::before {
    width: 31px;
    height: 21px;
    margin-right: 10px;
  }
  .strength__bg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .strength {
    margin-bottom: 0;
  }
  .strength__feature {
    width: 100%;
    padding-top: var(--height-section-small-sp);
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .strength__feature > .about__title {
    margin-left: var(--width-section-sp);
  }
  .strength__list {
    padding: 10px 0 0 0;
    margin: 0 var(--width-section-sp) 0;
  }
  .strength__item {
    min-height: 0;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
  }
  .strength__item-feature {
    width: 100%;
  }
  .strength__item-title {
    font-size: 1.7rem;
  }
  .strength__item-title > .about__item-no {
    margin-right: 10px;
  }
  .strength__item-imgs {
    width: 100%;
    height: auto;
    aspect-ratio: 350 / 350;
  }
  .strength__item-imgs.strength__item-imgs--01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .strength__item-img01,
  .strength__item-img02,
  .strength__item-img03 {
    position: static;
    width: 100%;
  }
  .strength__item-img05 {
    width: 52%;
    top: auto;
    left: 0;
    bottom: 0;
  }
  .strength__item-img06 {
    width: 78.857%;
    top: 0;
    left: auto;
    right: 0;
  }
  .strength__item-img07 {
    width: 39.714%;
    top: auto;
    bottom: 0;
    left: auto;
    right: 11.428%;
  }
  .strength__item-img08 {
    width: 17.42%;
    top: auto;
    bottom: 176px;
    left: auto;
    right: 0;
  }
  .strength__item-img09 {
    width: 24%;
    top: 173px;
  }
  .strength__item-img10 {
    width: 51.428%;
    top: 0;
    left: 8%;
  }
  .strength__item-caption {
    font-size: 1.4rem;
    position: static;
    white-space: wrap;
  }
  .strength__item-caption::before {
    width: 31px;
    height: 21px;
    margin-right: 8px;
  }
  .strength__bg {
    display: none;
  }
  .br--sp-str-caption {
    display: none;
  }
}

/* 
skill
*/
.skill {
  padding: var(--height-section-small-pc) 0;
  position: relative;
  z-index: 100;
  background-color: var(--background-primary);
}
.skill__list {
  margin: 50px 8.75% 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.skill__item {
  width: 32.085%;
  background-color: var(--background-secondary);
  padding: 40px 2.673%;
}
.skill__item--upper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.skill__item--upper > img {
  width: 80px;
  height: 80px;
}
.skill__item--upper .about__item-no {
  margin: 0;
}
.skill__item--lower {
  margin-top: 50px;
}
.skill__item-title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-secondary);
}
.skill__tool--list {
  margin: 0;
  padding-top: 25px;
}
.skill__tool--item {
  margin: 5px 0 0 0;
  color: var(--color-accent);
  font-family: var(--font-family-en);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0;
}
.section__description-list.skill__description-list {
  margin: 10px 0 0 0;
  padding: 0;
}
.section__description.skill__description {
  margin: 0;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .skill__list {
    margin: 50px var(--width-section-large-pc) 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .skill__item {
    width: 100%;
    padding: 40px 4.285%;
  }
  .skill__item--upper .about__item-no {
    margin: 0;
  }
  .skill__item--lower {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .skill {
    padding: var(--height-section-small-sp) 0;
  }
  .skill__list {
    margin: 30px var(--width-section-sp) 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .skill__item {
    width: 100%;
    padding: 40px 4.285%;
  }
  .skill__item--upper .about__item-no {
    margin: 0;
  }
  .skill__item--lower {
    margin-top: 30px;
  }
  .skill__item-title {
    font-size: 1.8rem;
  }
  .skill__tool--list {
    padding-top: 15px;
  }
  .skill__tool--item {
    margin: 5px 0 0 0;
    font-size: 1.6rem;
  }
  .skill__tool--item {
    font-size: 1.4rem;
  }
}

/* 
life
*/
.life {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-image: url(../images/sand-pattern.png);
  background-position: top;
  background-size: contain;
}
.life__txt {
  width: 37.132%;
  margin: var(--height-section-small-pc) 10.073% var(--height-section-small-pc)
    7.352%;
}
.life__feature {
  margin-left: 2.375%;
}
.life__feature > .about__title {
  margin: 0;
}
.life__list {
  margin: 80px 0 0 0;
  padding: 0;
}
.life__item {
  padding: 40px 0 0;
}
.life__item-duration {
  margin: 0 8.548%;
  font-family: var(--font-family-en);
  font-weight: 500;
  letter-spacing: 0.16em;
  color: var(--color-accent);
}
.life__item-title {
  margin: 6px 0 0;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.life__item-title > img {
  display: inline-block;
  margin-right: 4.838%;
  width: 23px;
  height: auto;
}
.life__item > .section__description {
  margin-left: 11px;
  padding-left: 5.742%;
  border-left: 1px solid var(--border-primary);
}
.life__item--border-bottom {
  height: 1px;
  margin: 40px 0 0 8.548%;
  border-bottom: 1px solid var(--border-primary);
}
.life__img {
  width: 45.441%;
  background-image: url(../images/about-mylife.webp);
  background-position: center top;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 100;
}
.life__img > img {
  width: 31.192%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .life {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .life__txt {
    width: auto;
    margin: 50px var(--width-section-large-pc) var(--height-section-small-pc);
  }
  .life__list {
    margin-top: 40px;
  }
  .life__item {
    padding: 40px 0 0;
  }
  .life__item--border-bottom {
    margin: 40px 0 0 8.548%;
  }
  .life__img {
    width: 100%;
    background-position: center;
    height: 767px;
  }
  .life__img > img {
    width: 18.717%;
  }
}
@media screen and (max-width: 768px) {
  .life {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .life__txt {
    width: auto;
    margin: 30px var(--width-section-sp) var(--height-section-small-sp);
  }
  .life__list {
    margin-top: 40px;
  }
  .life__item {
    padding: 30px 0 0;
  }
  .life__item-duration {
    margin: 0 8.571%;
  }
  .life__item-title {
    font-size: 1.8rem;
  }
  .life__item-title > img {
    margin-right: 4.285%;
    width: 15px;
  }
  .life__item > .section__description {
    margin-left: 7px;
    padding-left: 6.428%;
  }
  .life__item--border-bottom {
    margin: 30px 0 0 8.571%;
  }
  .life__img {
    width: 100%;
    background-position: center;
    height: 521px;
  }
  .life__img > img {
    width: 18.717%;
  }
}

/* 
vision
*/
.vision {
  display: flex;
  justify-content: flex-start;
}
.vision__img {
  width: 54.558%;
  background-image: url(../images/about-vision.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.vision__img > img {
  margin: 50px 7.008%;
  width: 35.444%;
}
.vision__txt {
  width: 45.441%;
  border-bottom: 1px solid var(--border-primary);
  padding: var(--height-section-small-pc) var(--width-section-large-pc)
    var(--height-section-small-pc) 7.352%;

  opacity: 0;
}
.vision__txt > .about__title {
  margin: 0;
}
.vision__list {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0;
  padding: 0;
}
.vision__item {
  padding: 40px 0;
  border-bottom: 1px solid var(--border-primary);
}
.vision__item-title {
  font-family: var(--font-family-en);
  font-weight: 500;
  font-size: 14.4rem;
  letter-spacing: 0;
  color: rgba(220, 104, 16, 0.5);
  margin: 0;

  position: relative;
}
.vision__item-word {
  display: inline-block;
  font-size: 3.2rem;
  color: var(--point-primary);
  text-shadow:
    2px 2px 0 var(--color-secondary),
    -2px -2px 0 var(--color-secondary),
    -2px 2px 0 var(--color-secondary),
    2px -2px 0 var(--color-secondary),
    0px 2px 0 var(--color-secondary),
    0 -2px 0 var(--color-secondary),
    -2px 0 0 var(--color-secondary),
    2px 0 0 var(--color-secondary);
  padding: 2px 0;
  white-space: nowrap;

  position: absolute;
  top: 72px;
  left: 108px;
}
.section__description--vision {
  margin-top: -5px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .vision {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .vision__img {
    width: 100%;
    height: 767px;
  }
  .vision__img > img {
    margin: 40px 3.906%;
    width: 28.974%;
  }
  .vision__txt {
    margin-top: 50px;
    width: 100%;
    padding: 0 var(--width-section-large-pc);
    border-bottom: none;
  }
  .vision__list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .vision__item {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .vision {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .vision__img {
    width: 100%;
    background-position: center;
    height: 521px;
  }
  .vision__img > img {
    margin: 20px 5.128%;
    width: 28.974%;
  }
  .vision__txt {
    margin-top: 30px;
    width: 100%;
    padding: 0 var(--width-section-sp);
    border-bottom: none;
  }
  .vision__list {
    margin: 10px 0 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .vision__item {
    width: auto;
    padding: 30px 0;
  }
  .vision__item-title {
    font-size: 12.5rem;
  }
  .vision__item-word {
    font-size: 2.4rem;
    top: 66px;
    left: 95px;
  }
  .section__description--vision {
    margin-top: -10px;
  }
}

/* 
routine
*/
.routine {
  padding: var(--height-section-small-pc) 0 var(--height-section-large-pc);
  background-color: var(--background-primary);
}
.routine__list {
  margin: 50px 8.75% 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.routine__item {
  background-color: var(--background-secondary);
  padding: 40px 2.673%;
}
.routine__item-title {
  margin: 0;
  display: flex;
  align-items: baseline;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-secondary);
}
.routine__item-title .about__item-no {
  display: inline-block;
  margin: 0 40px 0 0;
}
.routine__item-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.section__description-list.routine__description-list {
  margin: 0;
  padding: 0;
  width: 58.854%;
}
.routine__item-img {
  width: 30.729%;
  margin-top: 30px;
}
.routine__item-img > img {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .routine__list {
    margin: 50px var(--width-section-large-pc) 0;
  }
  .routine__item {
    padding: 40px 4.285%;
  }
  .routine__item-title .about__item-no {
    margin-right: 20px;
  }
  .routine__item-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .section__description-list.routine__description-list {
    width: 100%;
  }
  .routine__item-img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .routine {
    padding: var(--height-section-small-sp) 0;
  }
  .routine__list {
    margin: 30px var(--width-section-sp) 0;
  }
  .routine__item {
    padding: 40px 4.285%;
  }
  .routine__item-title {
    font-size: 1.8rem;
  }
  .routine__item-title .about__item-no {
    margin-right: 10px;
  }
  .routine__item-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .section__description-list.routine__description-list {
    width: 100%;
  }
  .routine__item-img {
    width: 100%;
  }
}
