@charset "utf-8";

:root {
  --font-family-en: "Josefin Sans", sans-serif;
  --font-family-ja: "dnp-shuei-gothic-gin-std", sans-serif;

  --color-primary: #241401;
  --color-secondary: #fffefb;
  --color-accent: #dc6810;
  --color-sub: #998670;
  --background-primary: #fffefb;
  --background-secondary: #352d23;
  --background-contact: #95897a;
  --point-primary: #352d23;
  --point-accent: #dc6810;
  --border-primary: rgba(153, 134, 112, 0.6);

  --width-section-pc: 3.676%;
  --height-section-pc: 100px;
  --width-section-sp: 5.128%;
  --height-section-sp: 50px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-ja, "dnp-shuei-gothic-gin-std", sans-serif);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.08em;
  font-style: normal;
  color: var(--color-primary, #241401);
  background-color: var(--background-primary, #fffefb);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
li {
  list-style: none;
}

/* 文字詰め */
.palt {
  font-kerning: normal;
  font-feature-settings: "palt" 1;
}

/* sp */
.br--sp {
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  .br--sp {
    display: inline;
  }
}

/* 
common 
*/
.wrap {
}
.container {
}
.main {
}
.section {
  margin: var(--height-section-pc) 0;
}
.section__header {
  margin: 0 var(--width-section-pc);
}
.section__title {
  margin: 0;
}
.section__title span {
  display: block;
}
.section__title--ja {
  font-size: 1.8rem;
  font-weight: 600;
}
.section__title--en {
  font-family: var(--font-family-en);
  font-size: 7.2rem;
  letter-spacing: 0;
  font-weight: 700;
  margin-top: 26px;
}
.section__sub-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-accent);
  margin: 10px 0 0 0;
}
.section__btn {
  display: flex;
}
.section__btn > a {
  display: block;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}
/* underline */
.section__btn > a::before,
.section__btn > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -6px;
}
.section__btn > a::before {
  transform-origin: left;
  transform: scale(0);
}
.section__btn > a::after {
  transform-origin: right;
}
.section__btn:hover > a::before {
  animation: underlineIn 0.5s ease 0.5s forwards;
}
.section__btn:hover > a::after {
  animation: underlineOut 0.5s ease forwards;
}
@keyframes underlineOut {
  to {
    transform: scale(0);
  }
}
@keyframes underlineIn {
  to {
    transform: scaleX(1);
  }
}
/* btn-arrow */
.section__btn::after {
  content: "";
  display: block;
  width: 15px;
  height: 20px;
  background-image: url(../images/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}
.section__description-list {
  padding-top: 20px;
}
.section__description {
  margin: 30px 0 0 0;
  line-height: 2.4;
}
.section__description--brown-bg {
  font-weight: 400;
}
.link__hover--white:hover {
  color: rgba(255, 254, 251, 0.8);
}
@media screen and (max-width: 768px) {
  .section {
    margin: var(--height-section-sp) 0;
  }
  .section__header {
    margin: 0 var(--width-section-sp);
  }
  .section__title--ja {
    font-size: 1.3rem;
  }
  .section__title--en {
    font-size: 4rem;
    margin-top: 13px;
  }
  .section__sub-title {
    font-size: 1.3rem;
    margin: 5px 0 0 0;
  }
  .section__btn > a {
    font-size: 1.4rem;
  }
  .section__btn::after {
    width: 10px;
    height: 16px;
    margin-left: 5px;
  }
  .section__description-list {
    padding-top: 10px;
  }
  .section__description {
    margin: 20px 0 0 0;
    font-size: 1.4rem;
  }
}
/* header / footer nav */
.nav__item {
}
.nav__item:hover {
  transform: rotateX(360deg);
  transition: transform 1s;
}
.nav__item > a {
  color: var(--color-accent);
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}
.nav__item--arrow > a::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow-right-up-orange.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  color: var(--point-accent);
  margin-left: 3px;
}
.nav__item-icon {
  width: 25px;
  margin-right: 10px;
  padding-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .nav__item > a {
    font-size: 1.4rem;
  }
  .nav__item-icon {
    width: 20px;
  }
}

/* 
header
*/
.header {
  width: 100%;
  height: 65px;
  padding: 0 var(--width-section-pc);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: 999;
}
.header__logo {
  margin: 15px 0 0 0;
  opacity: 1;
}
.header__logo.is-invisible {
  opacity: 0;
}
.header__logo a {
}
.header__logo--icon {
  width: 40px;
  height: 40px;
}
.header__logo--name {
  width: 117px;
  height: auto;
}
.header__nav {
  position: absolute;
  top: 22px;
  right: 15.8%;
}
.header__nav-list {
  display: flex;
  gap: 50px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header {
    height: 57px;
    padding: 0 var(--width-section-sp);
  }
  .header__logo--icon {
    width: 32px;
    height: 32px;
  }
  .header__logo--name {
    width: 94px;
    height: auto;
  }
  .header__nav-list {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header__nav-list {
    display: none;
  }
}
/* menu-btn */
.menu__btn {
  width: 73px;
  position: fixed;
  top: 18px;
  right: var(--width-section-pc);
  z-index: 999;
  cursor: pointer;
}
.menu__btn .menu__btn-1,
.menu__btn .menu__btn-2,
.menu__btn .menu__btn-3 {
  display: block;
  width: 73px;
  height: 2px;
  margin-top: 7px;
  background-color: var(--point-accent);
  transition: all 1s;

  z-index: 998;
}
.menu__btn.active .menu__btn-1 {
  transform: rotate(15deg);
  transition: transform 1s;

  position: absolute;
  top: 0;
  left: 0;
}
.menu__btn.active .menu__btn-2 {
  transform: rotate(-15deg);
  transition: transform 1s;
}
.menu__btn.active .menu__btn-3 {
  opacity: 0;
  transition: opacity 1s;
}
@media screen and (max-width: 768px) {
  .menu__btn {
    width: 62px;
    right: var(--width-section-sp);
  }
  .menu__btn .menu__btn-1,
  .menu__btn .menu__btn-2,
  .menu__btn .menu__btn-3 {
    width: 62px;
    margin-top: 7px;
  }
}
/* header menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 27.205%;
  padding: 80px var(--width-section-pc) 80px;
  background-color: rgba(53, 45, 35, 0.9);

  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s, opacity 1s;
}
.menu.active {
  transform: translate(0);
  opacity: 1;
  transition: transform 0.8s, opacity 1s;
  z-index: 997;
}
.menu--upper {
  width: 63.703%;
  max-width: 172px;
}
.menu__logo {
  width: 100%;
}
.menu__sns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__nav {
  margin-top: 60px;
}
.menu__nav-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.menu__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 45, 35, 0.5);

  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.1s 1s, opacity 0.5s 0.5s;
}
.menu__bg.active {
  transform: translate(0);
  opacity: 1;
  transition: transform 0.1s, opacity 0.5s 0.5s;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu {
    width: 35.205%;
  }
  .menu--upper {
    width: 35.833%;
    min-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: 100vh;
    padding: 80px var(--width-section-sp) 60px 24.358%;

    transform: translateY(-100%);
  }
  .menu--upper {
    width: 62.545%;
  }
  .menu__logo {
    width: 100%;
  }
  .menu__nav-list {
    gap: 20px;
  }
  .menu__bg {
    display: none;
  }
}

/* 
about
*/
.about__profile-name {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.16em;
  margin: 0;
}
.about__profile-name--en {
  display: inline-block;
  font-family: var(--font-family-en);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: var(--color-accent);
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about__profile-name {
    font-size: 2.4rem;
  }
  .about__profile-name--en {
    font-size: 1.6rem;
    margin-left: 20px;
  }
}

/* 
contact
*/
.section--contact {
  padding: var(--height-section-pc) 0 0;
  height: 705px;
  background-color: var(--background-contact);
}
.contact__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 63.529%;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 0 2.941%;
  background-color: var(--background-secondary);
  position: relative;
  transition: background-color 0.5s;
}
.contact__box:hover {
  background-color: rgba(53, 45, 35, 0.9);
  transition: background-color 0.5s;
}
.contact__feature--left {
  display: flex;
  height: 500px;
  padding: 80px 0;
  flex-direction: column;
  justify-content: space-between;
  width: 37.949%;
}
.contact__header {
}
.contact__title {
  margin: 0;
}
.contact__title span {
  display: block;
}
.contact__title--ja {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-secondary);
}
.contact__title--en {
  font-family: var(--font-family-en);
  font-size: 6.2rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-top: 15px;
}
.contact__sub-title {
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--color-accent);
  margin: 5px 0 0 0;
}
.contact__img--sp {
  display: none;
}
.contact__mail {
}
.contact__mail-description {
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--color-secondary);
  margin: 0;
}
.contact__mail-address {
  display: inline-block;
  min-width: 265px;
  font-family: var(--font-family-en);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: -0.06em;
  color: var(--point-primary);
  background-color: var(--point-accent);
  margin: 15px 0 0 0;
  padding: 11px 5.263%;
  border-radius: 50px;
}
.contact__mail-address::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 15px;
  background-image: url(../images/arrow-right-up-brown.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 15px;
}
.contact__img--pc {
  width: 52.596%;
  height: 100px;

  position: relative;
}
.contact__img--pc01 {
  position: absolute;
  width: 68.607%;
  max-width: 271px;
  top: 71px;
  left: 5.063%;
  transform: rotate(-15deg);
  transform-origin: center;
  transition: all 0.5s;
}
.contact__img--pc02 {
  position: absolute;
  width: 68.607%;
  max-width: 271px;
  top: 122px;
  left: 24.81%;
  transition: all 0.5s;
}
.contact__img--pc03 {
  position: absolute;
  width: 68.607%;
  max-width: 271px;
  top: 237px;
  left: 26.32%;
  transform: rotate(15deg);
  transform-origin: center;
  transition: all 0.5s;
}
.contact__img--pc.is-hovered .contact__img--pc01 {
  width: 71.139%;
  max-width: 281px;
  top: 62px;
  transform: rotate(-20deg);

  transition: all 0.5s;
}
.contact__img--pc.is-hovered .contact__img--pc02 {
  width: 71.139%;
  max-width: 281px;
  left: 28.81%;

  transition: all 0.5s;
}
.contact__img--pc.is-hovered .contact__img--pc03 {
  width: 71.139%;
  max-width: 281px;
  left: 28.32%;
  transform: rotate(25deg);

  transition: all 0.5s;
}
/* swiper */
.swiper {
}
.contact__slider {
}
.swiper-wrapper {
}
.swiper-slide {
  font-family: var(--font-family-en);
  font-size: 15rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  color: rgba(255, 251, 245, 0.6);
  overflow: hidden;
  margin: 7px 0 0 0;
  white-space: nowrap;

  width: auto;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contact__box {
    width: 88.529%;
    max-width: 850px;
  }
}
@media screen and (max-width: 768px) {
  .section--contact {
    padding: var(--height-section-sp) 0 0;
    height: 769px;
  }
  .contact__box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 89.743%;
    height: auto;
    margin: 0 auto;
    padding: 0 5.128% 0;
  }
  .contact__feature--left {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .contact__title--ja {
    font-size: 1.3rem;
  }
  .contact__title--en {
    font-size: 4rem;
    margin-top: 13px;
  }
  .contact__sub-title {
    font-size: 1.3rem;
  }
  .contact__img--pc {
    display: none;
  }
  .contact__img--sp {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 334px;
  }
  .contact__img--sp01 {
    position: absolute;
    top: 25px;
    left: 5.161%;
    width: 69.677%;
    max-width: 280px;
    transform: rotate(-15deg);
    transform-origin: center;
  }
  .contact__img--sp02 {
    position: absolute;
    top: 62px;
    left: 25.161%;
    width: 69.677%;
    max-width: 280px;
  }
  .contact__img--sp03 {
    position: absolute;
    top: 154px;
    left: 25.161%;
    width: 69.677%;
    max-width: 280px;
    transform: rotate(15deg);
    transform-origin: center;
  }
  .contact__img--sp.is-hovered .contact__img--sp01 {
    top: 20px;
    left: 3.225%;
    width: 71.29%;
    max-width: 285px;
    transform: rotate(-20deg);

    transition: all 0.5s;
  }
  .contact__img--sp.is-hovered .contact__img--sp02 {
    top: 62px;
    left: 28.387%;
    width: 71.29%;
    max-width: 285px;

    transition: all 0.5s;
  }
  .contact__img--sp.is-hovered .contact__img--sp03 {
    top: 154px;
    left: 26.774%;
    width: 71.29%;
    max-width: 285px;
    transform: rotate(25deg);

    transition: all 0.5s;
  }
  .contact__mail {
    margin-top: 40px;
  }
  .contact__mail-description {
  }
  .contact__mail-address {
    min-width: 200px;
    font-size: 1.6rem;
    margin: 10px 0 0 0;
    padding: 11px 4.193%;
  }
  .contact__mail-address::after {
    width: 18px;
    height: 11px;
    margin-left: 8px;
  }
  .swiper-slide {
    font-size: 7rem;
    line-height: 1;
    margin: 7px 0 0 0;
  }
}

/* 
footer
*/
.footer {
}
.section--footer {
  background-color: var(--background-secondary);
  padding: 80px 0 50px;
  position: relative;
  z-index: 10;
}
.footer--upper {
  width: 14.705%;
  max-width: 200px;
  margin: 0 auto;
}
.footer__logo > img {
}
.footer__sns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.sns--x > img {
  width: 22px;
  height: 23px;
}
.sns--note > img {
  width: 25px;
  height: 24px;
}
.sns--github > img,
.sns--instagram > img {
  width: 25px;
  height: 25px;
}
.sns--x > img:hover,
.sns--note > img:hover,
.sns--github > img:hover,
.sns--instagram > img:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.footer__nav {
}
.footer__nav-list {
  display: flex;
  justify-content: space-between;
  margin: 60px 18.235% 0;
}
.small {
  text-align: center;
  margin-top: 60px;
}
.small > small {
  font-family: var(--font-family-en);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: var(--color-secondary);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer--upper {
    width: 51.282%;
  }
  .footer__nav-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 60px 0 0;
  }
  .small {
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .section--footer {
    padding: 40px 0 30px;
  }
  .footer--upper {
    width: 51.282%;
  }
  .footer__sns {
    margin-top: 30px;
  }
  .footer__nav-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 60px 0 0;
  }
  .small {
    margin-top: 50px;
  }
  .small > small {
    font-size: 1rem;
  }
}
