@charset "utf-8";

/* 
fv
*/
.fv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--background-secondary);
  position: relative;
}
.fv__img {
  margin: 65px 0 50px 15.588%;
  position: relative;
  width: 80.882%;
  aspect-ratio: 1100 /630;
  min-height: 550px;

  background-image: url(../images/fv-pc.webp);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 0;
}
.fv__sub-topic {
  text-align: right;
  color: var(--color-secondary);
  margin: 0;
  font-size: 3.1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  position: relative;
  z-index: 10;
  opacity: 0;

  position: absolute;
  bottom: 15px;
  right: 25px;
}
.fv__icon-rotate {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/logo-symbol-icon-orange.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 10;
}
.fv__icon-rotate > img {
  width: 217px;
  height: 217px;
  position: absolute;
  top: -40px;
  left: -35px;
  overflow: hidden;
  animation: 40s linear infinite txt-rotate;
}
@keyframes txt-rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.fv__topic {
  width: 37.65%;
  max-width: 511px;
  margin-left: 2.205%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  opacity: 0;
}
.fv__topic--sub {
  font-family: var(--font-family-en);
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color-accent);
  margin: 0;
}
.fv__topic--logo {
  margin: 0;
  width: 100%;
}
.fv__topic--logo > img {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fv__img {
    aspect-ratio: 4 / 3;
  }
  .fv__sub-topic {
    font-size: 2.3rem;
  }
  .fv__icon-rotate {
    width: 130px;
    height: 130px;
  }
  .fv__icon-rotate > img {
    width: 212px;
    height: 212px;
    top: -50px;
    left: -45px;
  }
}
@media screen and (max-width: 768px) {
  .fv__img {
    margin: 57px var(--width-section-sp) 20px;
    width: 89.743%;
    aspect-ratio: 9 / 16;
    background-image: url(../images/fv-sp.webp);
    background-position: center top;
  }
  .fv__sub-topic {
    font-size: 1.6rem;
    bottom: 5px;
    right: 10px;
  }
  .fv__topic {
    margin-left: 3.846%;
    width: 52.82%;
    min-width: 206px;
    top: 193px;
    transform: none;
  }
  .fv__topic--sub {
    font-size: 1.8rem;
  }
  .fv__topic--logo > img {
    margin-top: 10px;
  }
  .fv__icon-rotate {
    width: 100px;
    height: 100px;
  }
  .fv__icon-rotate > img {
    width: 172px;
    height: 172px;
    top: -40px;
    left: -35px;
  }
}

/* 
works
*/
.section--works {
}
.works__list {
  margin: 40px 10.294% 50px;
}
.works__items--row {
  display: flex;
  padding: 0 0.833%;
  border-bottom: 1px solid var(--border-primary);
}
.works__item--left,
.works__item--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
.works__item--left {
  padding: 40px 5.838% 40px 0;
  border-right: 1px solid var(--border-primary);
}
.works__item--right {
  padding: 40px 0 40px 5.838%;
}
.works__item-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  transition: width 0.3s;
  border: 1px solid var(--border-primary);
}
.works__item-img.is-hovered {
  width: 98%;
  transition: width 0.3s;
}
.works__item-img--banner {
  display: block;
  width: 73.448%;
  margin: 0 auto;
  transition: width 0.3s;
}
.works__item-img--banner.is-hovered {
  width: 71.448%;
  transition: width 0.3s;
}
.works__item-feature {
  display: flex;
  flex-direction: column;
}
.works__item-design-type {
  margin: 20px 0 0 0;
  font-family: var(--font-family-en);
  font-size: 1.8rem;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-sub);
}
.works__item-title {
  margin: 5px 0 0 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.works__item-work-type {
  margin: 10px 0 0 0;
}
.works__item-role {
  margin: 30px 0 0 0;
  font-family: var(--font-family-en);
  font-size: 1.8rem;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-accent);
}
.works__btn {
  margin: 0 7.352%;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .works__list {
    margin: 20px var(--width-section-sp);
  }
  .works__items--row {
    flex-direction: column;
    border-bottom: none;
    padding: 0;
  }
  .works__item--left,
  .works__item--right {
    justify-content: flex-end;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-primary);
  }
  .works__item--left {
    padding-right: 0;
    border-right: none;
  }
  .works__item--right {
    padding-left: 0;
  }
  .works__item-img--banner {
    width: 73.714%;
  }
  .works__item-design-type {
    margin: 15px 0 0 0;
    font-size: 1.4rem;
  }
  .works__item-title {
    margin: 2px 0 0 0;
    font-size: 1.8rem;
  }
  .works__item-work-type {
    margin: 6px 0 0 0;
    font-size: 1.2rem;
  }
  .works__item-role {
    margin: 20px 0 0 0;
    font-size: 1.4rem;
  }
  .works__btn {
    margin: 0 var(--width-section-sp);
  }
}

/* 
about
*/
.section--about {
  position: relative;
  border-top: 1px solid var(--border-primary);
  padding: var(--height-section-large-pc) 0 310px;
  margin-bottom: 0;
}
.section--about::before {
  content: "";
  display: block;
  width: 61.838%;
  height: 100%;
  background-image: url(../images/sand-pattern.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.section--about::after {
  content: "";
  display: block;
  width: 61.838%;
  height: 100%;
  background-image: url(../images/mountain.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.about__feature {
  display: flex;
  justify-content: space-between;
  margin: 80px var(--width-section-large-pc) 0 7.279%;
  gap: 5.514%;

  position: relative;
  z-index: 10;
}
.about__profile-img {
  width: 42.176%;
  max-width: 650px;
  position: relative;

  opacity: 0;
}
.about__profile-img .about__profile-img--bg {
  display: block;
  width: 89.361%;
  position: absolute;
  top: 60px;
  left: 0;
}
.about__profile-img .about__profile-img--main {
  display: block;
  width: 89.361%;
  position: absolute;
  top: 0;
  right: 0;
}
.about__profile-feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 51.801%;
  max-width: 575px;
  margin: 108px 0 20px;
}
.about__btn {
  margin-top: 50px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section__header--about {
    position: relative;
    z-index: 10;
  }
  .section--about::before {
    width: 100%;
  }
  .section--about::after {
    width: 100%;
  }
  .about__feature {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
    gap: 60px;
  }
  .about__profile-img {
    width: 100%;
    max-width: none;
    aspect-ratio: 350 / 444;
  }
  .about__profile-img .about__profile-img--bg {
    width: 94.857%;
    max-width: none;
    top: 40px;
  }
  .about__profile-img .about__profile-img--main {
    width: 94.857%;
    max-width: none;
  }
  .about__profile-feature {
    width: 100%;
    margin: 0;
  }
  .about__btn {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section--about {
    padding: var(--height-section-large-sp) 0 250px;
  }
  .section__header--about {
    position: relative;
    z-index: 10;
  }
  .section--about::before {
    width: 100%;
  }
  .section--about::after {
    width: 100%;
  }
  .about__feature {
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px var(--width-section-sp) 0;
    gap: 50px;
  }
  .about__profile-img {
    width: 100%;
    max-width: none;
    aspect-ratio: 350 / 444;
  }
  .about__profile-img .about__profile-img--bg {
    width: 94.857%;
    max-width: none;
    top: 18px;
  }
  .about__profile-img .about__profile-img--main {
    width: 94.857%;
    max-width: none;
  }
  .about__profile-feature {
    width: 100%;
    margin: 0;
  }
  .about__btn {
    margin-top: 30px;
  }
}
