@charset "utf-8";

/* 
title
*/
.works-detail__header {
  margin: 185px var(--width-section-pc) 0;
}
.works-detail__design-type {
  font-family: var(--font-family-en);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--color-accent);
  margin: 0;
}
.works-detail__title {
  margin: 5px 0 0 0;
  font-size: 4.8rem;
  font-weight: 600;
}
.works-detail__work-type {
  margin: 10px 0 0 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .works-detail__header {
    margin: 97px var(--width-section-sp) 0;
  }
  .works-detail__design-type {
    font-size: 1.4rem;
  }
  .works-detail__title {
    font-size: 2.4rem;
  }
  .works-detail__work-type {
    margin: 8px 0 0 0;
    font-size: 1.4rem;
  }
}

/* 
works-detail-fv
*/
.works-detail__fv {
  margin: var(--height-section-pc) 0 0;

  opacity: 0;
}
.works-detail__fv > img {
  display: block;
  margin-left: 11.029%;
  width: 89%;
}
.works-detail__fv-feature {
  display: flex;
  padding: 568px var(--width-section-pc) var(--height-section-pc) 18.235%;
  margin-top: -488px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background-secondary);
}
.works-detail__fv-list {
  width: 68.472%;
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.works-detail__fv-item {
  display: flex;
  align-items: flex-start;
}
.works-detail__fv-key {
  margin: 0 20px 0 0;
  width: 17.772%;
  line-height: 1.5;
  min-width: 150px;
  font-weight: 600;
  letter-spacing: 0.16em;
}
.works-detail__fv-value--ja {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.16em;
  font-weight: 500;
}
.works-detail__fv-value--en {
  margin: 0;
  font-family: var(--font-family-en);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
a.works-detail__fv-value--en {
  display: block;
  color: var(--color-secondary);
}
.works-detail__fv-btn {
  margin-top: 32px;
}
.works-detail__fv-btn > a {
  display: inline-block;
  color: var(--color-accent);
  font-size: 1.8rem;
  font-weight: 600;
}
/* underline */
.works-detail__fv-btn > a::before,
.works-detail__fv-btn > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--point-accent);
  position: absolute;
  bottom: -6px;
}
.works-detail__fv-btn > a::before {
  transform-origin: left;
  transform: scale(0);
}
.works-detail__fv-btn > a::after {
  transform-origin: right;
}
.works-detail__fv-btn:hover > a::before {
  animation: underlineIn 0.5s ease 0.5s forwards;
}
.works-detail__fv-btn:hover > a::after {
  animation: underlineOut 0.5s ease forwards;
}
.works-detail__fv-btn::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 15px;
  background-image: url(../images/arrow-right-up-orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 15px;
  margin-top: 5px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .works-detail__fv-feature {
    padding: 361px var(--width-section-pc) var(--height-section-pc) 11.035%;
    margin-top: -261px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }
  .works-detail__fv-list {
    width: 100%;
  }

  .works-detail__fv-btn {
    display: block;
  }
  .works-detail__fv-btn > a {
    text-align: right;
  }
}
@media screen and (max-width: 768px) {
  .works-detail__fv {
    margin: 30px 0 0;
  }
  .works-detail__fv > img {
    margin-left: var(--width-section-sp);
    width: 94.871%;
  }
  .works-detail__fv-feature {
    padding: 62px var(--width-section-sp) 40px;
    margin-top: -32px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }
  .works-detail__fv-list {
    width: 100%;
    gap: 20px;
  }
  .works-detail__fv-key {
    margin: 0 8px 0 0;
    width: 100px;
    min-width: 100px;
    font-size: 1.3rem;
  }
  .works-detail__fv-btn > a {
    font-size: 1.4rem;
  }
  .works-detail__fv-btn::after {
    width: 18px;
    height: 11px;
    margin-left: 8px;
    margin-top: 5px;
  }
}

/* 
overview
*/
.overview {
  padding: var(--height-section-pc) 0;
  margin: 0 auto;
  width: 63.529%;
}
.overview__title {
  margin: 0;
  color: var(--color-accent);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.16em;

  text-align: center;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .overview {
    width: 77.929%;
  }
}
@media screen and (max-width: 768px) {
  .overview {
    padding: var(--height-section-sp) 0;
    margin: 0 var(--width-section-sp);
    width: auto;
  }
  .overview__title {
    font-size: 2rem;
  }
}

/* 
collection
*/
.collection > img {
  display: block;
  width: 100%;
}

/* 
information
*/
.information {
  padding: var(--height-section-pc) 0;
  margin: 0 auto;
  width: 63.529%;
}
.information__list {
  padding: 0;
  margin: 0;
}
.information__item {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  border-bottom: 1px solid var(--border-primary);
}
.information__item-key {
  width: 28.935%;
  margin: 0 6.365% 0 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2;
}
.section__description-list.information__description-list {
  padding: 0;
}
.information__description-list > .section__description:first-of-type {
  margin: 0;
}
.information__item-description-list--multi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.information__item-description-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.information__item-description-style {
  display: block;
  line-height: 0;
  margin: 15px 6px;
  width: 8px;
  height: 8px;
  background-color: var(--point-accent);
  border-radius: 50%;
  flex-shrink: 0;
}
.information__item-description--multi {
  margin: 0;
  line-height: 2.4;
}
/* 制作期間 */
.information__item-description--key {
}
.information__item-description--value {
  margin: 0 0 0 20px;
  line-height: 2.4;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .information {
    width: 77.929%;
  }
}
@media screen and (max-width: 768px) {
  .information {
    padding: 20px 0 var(--height-section-sp);
    margin: 0 var(--width-section-sp);
    width: auto;
  }
  .information__item {
    padding: 30px 0;
    gap: 0;
  }
  .information__item-key {
    width: auto;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1;
  }
  .section__description-list.information__description-list {
    width: auto;
    margin-top: 30px;
  }
  .information__item-description-list--multi {
    gap: 5px;
    width: auto;
    margin-top: 30px;
  }
  .information__item-description-style {
    margin: 13px 6px;
  }
  /* 制作期間 */
  .information__item-description--value {
    margin: 0 0 0 10px;
  }
}

/* 
pagenation
*/
.pagination,
.pagination--img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.31%;
  width: 63.529%;
}
.pagination {
  margin: 0 auto var(--height-section-pc);
}
.pagination--img {
  margin: var(--height-section-pc) auto;
}
.pagination.pagination--first-page,
.pagination--img.pagination--first-page {
  justify-content: flex-end;
}
.pagination.pagination--last-page,
.pagination--img.pagination--last-page {
  justify-content: flex-start;
}
/* Word Size */
.pagination span,
.pagination--img span {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 0 6px;
}
.pagination__btn-previous,
.pagination-img__btn-previous,
.pagination__btn-next,
.pagination-img__btn-next {
  width: 31.365%;
  display: flex;
  align-items: center;
}
.pagination__btn-list > span,
.pagination-img__btn-list > span {
  white-space: nowrap;
}
.pagination__btn-previous > span,
.pagination-img__btn-previous > span,
.pagination__btn-list > span,
.pagination-img__btn-list > span,
.pagination__btn-next > span,
.pagination-img__btn-next > span {
  display: block;
  position: relative;
}
.pagination__btn-previous,
.pagination-img__btn-previous {
  justify-content: flex-start;
  padding: 0 0 0 8.101%;
}
.pagination__btn-next,
.pagination-img__btn-next {
  justify-content: flex-end;
  padding: 0 8.101% 0 0;
}
/* pagination-img Background */
.pagination-img__btn-previous,
.pagination-img__btn-next {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 271 / 167;
}
.pagination-img__btn-previous:hover,
.pagination-img__btn-next:hover {
  background-size: 96%;
  transition: background-size 0.3s;
}
/* pagination-img-bg */
.pagination-img-btn01 {
  background-image: url(../images/design-detail-btn-img-naiviva.png);
}
.pagination-img-btn02 {
  background-image: url(../images/design-detail-btn-img-creator-school.png);
}
.pagination-img-btn03 {
  background-image: url(../images/design-detail-btn-img-natural-beans.png);
}
.pagination-img-btn04 {
  background-image: url(../images/design-detail-btn-img-real-estate-banner.png);
}
.pagination-img-btn05 {
  background-image: url(../images/design-detail-btn-img-the-sauna-banner.png);
}
.pagination-img-btn06 {
  background-image: url(../images/design-detail-btn-img-tone99-logo.png);
}
.pagination-img-btn07 {
  background-image: url(../images/design-detail-btn-img-portfolio.png);
}
/* Arrow Object*/
.pagination__btn-previous::before,
.pagination__btn-next::after,
.pagination-img__btn-previous::before,
.pagination-img__btn-next::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.pagination__btn-previous::before {
  background-image: url(../images/arrow-left.svg);
  margin-right: 10px;
}
.pagination__btn-next::after {
  background-image: url(../images/arrow-right.svg);
  margin-left: 10px;
}
.pagination-img__btn-previous::before {
  background-image: url(../images/arrow-left-white.svg);
  margin-right: 10px;
}
.pagination-img__btn-next::after {
  background-image: url(../images/arrow-right-white.svg);
  margin-left: 10px;
}
/* Color */
.pagination-img__btn-previous > span {
  color: var(--color-secondary);
}
.pagination-img__btn-next > span {
  color: var(--color-secondary);
}
.pagination-img__btn-previous > span::before,
.pagination-img__btn-previous > span::after,
.pagination-img__btn-next > span::before,
.pagination-img__btn-next > span::after {
  background-color: var(--color-secondary);
}
.pagination__btn-previous > span::before,
.pagination__btn-previous > span::after,
.pagination__btn-list > span::before,
.pagination__btn-list > span::after,
.pagination__btn-next > span::before,
.pagination__btn-next > span::after,
.pagination-img__btn-list > span::before,
.pagination-img__btn-list > span::after {
  background-color: var(--color-primary);
}
/* Underline */
.pagination__btn-previous > span::before,
.pagination__btn-previous > span::after,
.pagination__btn-list > span::before,
.pagination__btn-list > span::after,
.pagination__btn-next > span::before,
.pagination__btn-next > span::after,
.pagination-img__btn-previous > span::before,
.pagination-img__btn-previous > span::after,
.pagination-img__btn-list > span::before,
.pagination-img__btn-list > span::after,
.pagination-img__btn-next > span::before,
.pagination-img__btn-next > span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -6px;
}
.pagination__btn-previous > span::before,
.pagination__btn-list > span::before,
.pagination__btn-next > span::before,
.pagination-img__btn-previous > span::before,
.pagination-img__btn-list > span::before,
.pagination-img__btn-next > span::before {
  transform-origin: left;
  transform: scale(0);
}
.pagination__btn-previous > span::after,
.pagination__btn-list > span::after,
.pagination__btn-next > span::after,
.pagination-img__btn-previous > span::after,
.pagination-img__btn-list > span::after,
.pagination-img__btn-next > span::after {
  transform-origin: right;
}
/* Hover Action */
.pagination__btn-previous:hover > span::before,
.pagination__btn-list:hover > span::before,
.pagination__btn-next:hover > span::before,
.pagination-img__btn-previous:hover > span::before,
.pagination-img__btn-list:hover > span::before,
.pagination-img__btn-next:hover > span::before {
  animation: underlineIn 0.5s ease 0.5s forwards;
}
.pagination__btn-previous:hover > span::after,
.pagination__btn-list:hover > span::after,
.pagination__btn-next:hover > span::after,
.pagination-img__btn-previous:hover > span::after,
.pagination-img__btn-list:hover > span::after,
.pagination-img__btn-next:hover > span::after {
  animation: underlineOut 0.5s ease forwards;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pagination,
  .pagination--img {
    width: 77.929%;
  }
}
@media screen and (max-width: 768px) {
  .pagination,
  .pagination--img {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 89.743%;
    gap: 30px;
  }
  .pagination {
    margin: 0 var(--width-section-sp) var(--height-section-sp);
  }
  .pagination--img {
    margin: var(--height-section-sp) var(--width-section-sp);
  }
  .pagination span,
  .pagination--img span {
    font-size: 1.4rem;
  }
  .pagination__btn-previous,
  .pagination-img__btn-previous,
  .pagination__btn-next,
  .pagination-img__btn-next {
    width: 45.714%;
  }
  .pagination__btn-previous,
  .pagination-img__btn-previous {
    margin-right: auto;
    padding: 0 0 0 8.571%;
  }
  .pagination__btn-list,
  .pagination-img__btn-list {
    margin: 0 auto;
  }
  .pagination__btn-next,
  .pagination-img__btn-next {
    padding: 0 8.571% 0 0;
    margin-left: auto;
  }
  .pagination-img__btn-previous,
  .pagination-img__btn-next {
    height: auto;
    aspect-ratio: 160 / 98;
  }
  .pagination__btn-previous::before,
  .pagination__btn-next::after,
  .pagination-img__btn-previous::before,
  .pagination-img__btn-next::after {
    width: 10px;
    height: 16px;
    margin-right: 5px;
  }
}

/* 
gallery
*/
.gallery {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin: 0 var(--width-section-pc);
}
.gallery__row--pc,
.gallery__row--pc--1cl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4.4117%;
}
.gallery__row--pc-sp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.gallery__row--sp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* PC / SP Row */
.gallery__row--pc > .gallery__row--pc-sp .gallery__img--sp-3col {
  width: 45%;
}
.gallery__row--pc img,
.gallery__row--pc--1col img,
.gallery__img--sp-3col {
  border: 1px solid var(--border-primary);
}
/* PC（2col） */
.gallery__row--pc img {
  width: 47.619%;
}
/* PC（1col） */
.gallery__row--pc--1col img {
  width: 100%;
}
/* PC（1col）/ SP（2col） */
.gallery__row--pc .gallery__img--sp-3col {
  width: 21.428%;
}
/* SP（3col） */
.gallery__row--sp .gallery__img--sp-3col {
  width: 30.158%;
}
@media screen and (max-width: 768px) {
  .gallery {
    gap: 30px;
    margin: 0 var(--width-section-sp);
  }
  .gallery__row--pc {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .gallery__row--pc img {
    width: 100%;
  }
  .gallery__row--sp .gallery__img--sp-3col {
    width: 29.42%;
  }
}
